/* src/Header.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
    border-bottom: 1px solid #ccc;
}

.header h1 {
    margin: 0;
    color: white;
}

.myButton {
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 18px;
    padding: 5px;
    border-radius: 8px;
    font-family: Georgia, serif;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%);
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
    border: 2px solid rgb(28, 110, 164);
}

.myButton:hover {
    background: #1C6EA4;
}

.myButton:active {
    background: #144E75;
}

.separator {
    border-top: 3px solid #bbb;
    width: 100%;
}
